*{
  background-color: aquamarine;   
}
    h1{
    color:rgb(0,255,0);
    text-align:center;
    border:solid;
    font-weight:200;
    text-decoration:wavy black underline;
}
p{
    text-align:justify;
}
a{
    text-decoration:None;
}